<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- TOP LEVEL MENU -->
    <menuitem id="menu_my_job_portal_root"
              name="Job Portal"
              sequence="10"/>

    <!-- Job Positions Action -->
    <record id="action_job_positions" model="ir.actions.act_window">
        <field name="name">Job Positions</field>
        <field name="res_model">my_job_portal.job.position</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Positions submenu -->
    <menuitem id="menu_job_positions"
              name="Positions"
              parent="menu_my_job_portal_root"
              action="action_job_positions"
              sequence="20"/>

    <!-- Job Applications Action -->
    <record id="action_job_applications" model="ir.actions.act_window">
        <field name="name">Job Applications</field>
        <field name="res_model">my_job_portal.job.application</field>
        <field name="view_mode">list,form</field>
    </record>

    <!-- Applications submenu -->
    <menuitem id="menu_job_applications"
              name="Applications"
              parent="menu_my_job_portal_root"
              action="action_job_applications"
              sequence="30"/>

</odoo>
